Список команд: <br>
/start - Приветственное сообщение <br>
/help - Список команд <br>
<br>
🔀 Для перевода голосового сообщения в текст, просто отправь его мне.<br>
<br>
🔀 Для перевода видеосообщения в текст, просто отправь его мне.<br>
<br>
❗️ Размер файла не должен превышать 20 Мб